.column-layout {
  display: flex;
  flex-direction: column;
}
.landing-page-content-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
  height: 100%;
}
.row-layout {
  display: flex;
}
.hero-section {
  background-color: var(--ig-surface-500);
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  padding: 48px 32px;
  min-width: 50px;
  min-height: 400px;
  flex-shrink: 0;
}
.hero-section-wrapper {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  max-width: 1400px;
}
.hero-section-content {
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  min-width: 320px;
  flex-grow: 1;
  flex-basis: 0;
}
.hero-buttons {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.hero-actions {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.how-it-works-section {
  background-color: var(--ig-surface-500);
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  padding: 48px 32px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.how-it-works-section-wrapper {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  max-width: 1400px;
  flex-grow: 1;
  flex-basis: 0;
}
.how-it-works-header {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.how-it-works-cards {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.step-1-card {
  --header-text-color: var(--ig-card-header-text-color, hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1));
  --subtitle-text-color: var(--ig-card-subtitle-text-color, lch(from hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1) calc(l + (50 - l) * 0.1 + sign(50 - l) * 7) c h));
  --content-text-color: var(--ig-card-content-text-color, lch(from hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1) calc(l + (50 - l) * 0.1 + sign(50 - l) * 7) c h));
  --actions-text-color: var(--ig-card-actions-text-color, hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1));
  --background: var(--ig-surface-200);
  height: max-content;
  min-width: 240px;
  flex-grow: 1;
  flex-basis: 0;
}
.step-1-card-content {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.pricing-section {
  background-color: var(--ig-surface-50);
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 32px;
  position: relative;
  padding: 48px 32px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}
.pricing-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: stretch;
  align-items: stretch;
  gap: 24px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.starter-plan-card {
  --header-text-color: var(--ig-card-header-text-color, hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1));
  --subtitle-text-color: var(--ig-card-subtitle-text-color, lch(from hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1) calc(l + (50 - l) * 0.1 + sign(50 - l) * 7) c h));
  --content-text-color: var(--ig-card-content-text-color, lch(from hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1) calc(l + (50 - l) * 0.1 + sign(50 - l) * 7) c h));
  --actions-text-color: var(--ig-card-actions-text-color, hsla(from color(from var(--background) var(--y-contrast)) h 0 l/1));
  --background: var(--ig-card-background, var(--surface-500));
  height: max-content;
  min-width: 240px;
}
.starter-plan-content {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.starter-plan-name-and-price {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 4px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.content {
  height: max-content;
  min-width: min-content;
}
.engage-statement {
  color: var(--ig-gray-800);
  height: max-content;
  min-width: min-content;
}
.hero-image {
  object-fit: cover;
  border-radius: 8px;
  min-width: 200px;
  min-height: 0;
  max-height: 350px;
  flex-grow: 1;
  flex-basis: 0;
}
.content_1 {
  text-align: center;
  height: max-content;
  min-width: min-content;
}
.step-1-icon {
  --ig-size: var(--ig-size-medium);
}
.icon {
  color: var(--ig-secondary-100-contrast);
}
.starter-plan-benefit-1-icon {
  --ig-size: var(--ig-size-small);
}
.step-1-icon_1::part(base) {
  color: var(--ig-secondary-100-contrast);
  background-color: var(--ig-secondary-100);
}
.step-1-icon_2::part(base) {
  color: var(--ig-secondary-100-contrast);
  background-color: var(--ig-secondary-100);
}
.step-1-icon_3::part(base) {
  color: var(--ig-secondary-100-contrast);
  background-color: var(--ig-secondary-100);
}
.starter-plan-benefit-1-icon_1::part(base) {
  background-color: transparent;
}
.starter-plan-benefit-1-icon_2::part(base) {
  background-color: transparent;
}
.starter-plan-benefit-1-icon_3::part(base) {
  background-color: transparent;
}
.starter-plan-benefit-1-icon_4::part(base) {
  background-color: transparent;
}
.starter-plan-benefit-1-icon_5::part(base) {
  background-color: transparent;
}
.starter-plan-benefit-1-icon_6::part(base) {
  background-color: transparent;
}
.starter-plan-benefit-1-icon_7::part(base) {
  background-color: transparent;
}
.starter-plan-benefit-1-icon_8::part(base) {
  background-color: transparent;
}
.starter-plan-benefit-1-icon_9::part(base) {
  background-color: transparent;
}
.body-content {
  min-width: 50px;
  min-height: 50px;
}
.actions-content {
  min-width: 50px;
  min-height: 40px;
}
.main-action-button {
  --ig-size: var(--ig-size-medium);
  height: max-content;
  flex-shrink: 0;
}
.step-1-button {
  --ig-size: var(--ig-size-medium);
  height: max-content;
}
.starter-plan-benefits {
  height: max-content;
}
