:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
}
.landing-page-nav-bar {
  --igx-navbar-text-color: var(--ig-surface-500-contrast);
  --igx-navbar-background: var(--ig-surface-500);
  z-index: 1;
  position: sticky;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}
.landing-page-container {
  overflow: auto;
  position: relative;
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
}
.navbar-content {
  gap: 1rem;
}
.row-layout {
  display: flex;
}
.app-logo {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.app-icon {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.app-title {
  height: max-content;
  min-width: min-content;
}
.icon {
  color: var(--ig-surface-500-contrast);
}
.home-nav-button {
  --ig-size: var(--ig-size-medium);
  height: max-content;
}
.search-icon {
  --foreground: var(--ig-surface-500-contrast);
}
