.column-layout {
  display: flex;
  flex-direction: column;
}
.landing-page-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
  height: 100%;
}
.row-layout {
  display: flex;
}
.group {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 1rem;
  overflow: hidden;
}
.app-logo {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.landing-page-nav-bar {
  color: var(--ig-surface-500-contrast);
  background-color: var(--ig-surface-500);
  z-index: 1;
  position: sticky;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}
.landing-page-container_1 {
  overflow: auto;
  position: relative;
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
}
.app-icon {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.app-title {
  height: max-content;
  min-width: min-content;
}
.icon {
  color: var(--ig-surface-500-contrast);
}
.home-nav-button {
  --ig-size: var(--ig-size-medium);
  height: max-content;
  flex-shrink: 0;
}
.search-icon::part(base) {
  color: var(--ig-surface-500-contrast);
}
