/* You can add global styles to this file, and also import other style files */
// Standard CSS normalize, comment out if not required or using a different module
@use "minireset.css/minireset";
@use "@infragistics/igniteui-angular/theming" as *;

@include core();
@include typography($font-family: "Roboto");

$custom-palette: palette(
  $primary: #A0522D,
  $secondary: #D4AF37,
  $surface: #1A120B,
  $error: #CF6679,
  $success: #66BB6A,
  $warn: #FFCA28,
  $info: #29B6F6);
@include theme($palette: $custom-palette, $schema: $dark-material-schema, $roundness: 0.5);

body {
  background: var(--ig-surface-500);
  color: var(--ig-surface-500-contrast);
  --ig-size: var(--ig-size-medium);
}

html, body {
  height: 100%;
}

.ig-typography {
  h1, h2, h3, h4, h5, h6, p, .ig-typography__body-1 {
    margin: 0;
  }
}

.outer-wrapper > *:not(router-outlet) {
  width: 100%;
}
